In [35]:
import pandas as pd

gpd = pd.read_csv('data/gdp.csv', index_col='Year')
inflation = pd.read_csv('data/inflation.csv', index_col='date')
unemployment = pd.read_csv('data/unemployment.csv')
yield_data = pd.read_csv('data/yield.csv') #61

### Yield curves

In [36]:
import pandas as pd
import numpy as np

# Convert to datetime
yield_data['Date'] = pd.to_datetime(yield_data['Date'], errors='coerce')

# Replace invalid values with NaN
yield_data.replace(-999.99, pd.NA, inplace=True)

# Drop columns with more than 20% missing values
threshold = 0.2 * len(yield_data)
columns_to_drop = yield_data.columns[yield_data.isnull().sum() > threshold]
yield_data_cleaned = yield_data.drop(columns=columns_to_drop)

# Rename columns 
column_rename_mapping = {
    'BETA0': 'LongTermRate',
    'BETA1': 'Slope',
    'BETA2': 'Curvature1',
    'BETA3': 'Curvature2',
}

for i in range(1, 31):
    column_rename_mapping[f'SVENPY{i:02d}'] = f'SpotRate{i}Y'


for i in range(1, 31):
    column_rename_mapping[f'SVEN1F{i:02d}'] = f'ForwardRate{i}Y'

yield_data_cleaned.rename(columns=column_rename_mapping, inplace=True)

# Drop rows where 'Date' or key features are missing
key_features = ['Date', 'LongTermRate', 'ForwardRate1Y']
yield_data_cleaned = yield_data_cleaned.dropna(subset=key_features)

# Set Date as the index for resampling
yield_data_cleaned.set_index('Date', inplace=True)

# Resample to monthly frequency
monthly_data = yield_data_cleaned.resample('M').mean()

# Interpolate missing values for continuous features
monthly_data_interpolated = monthly_data.interpolate(method='linear', limit_direction='forward', axis=0)

# Logarithmic transformation to reduce skewness for curvature columns
curvature_columns = ['Curvature1', 'Curvature2']
for column in curvature_columns:
    monthly_data_interpolated[column] = monthly_data_interpolated[column].apply(
        lambda x: np.log1p(x) if x > 0 else 0
    )

# Normalize continuous features to the range [0, 1]
continuous_features = [
    col for col in monthly_data_interpolated.columns if col.startswith('LongTermRate') or col.startswith('Slope')
    or col.startswith('Curvature') or col.startswith('SpotRate') or col.startswith('ForwardRate')
]
monthly_data_interpolated[continuous_features] = monthly_data_interpolated[continuous_features].apply(
    lambda x: (x - x.min()) / (x.max() - x.min()), axis=0
)

# Final Output: Display the first few rows of the processed dataset
print(monthly_data_interpolated.head())

            LongTermRate     Slope  Curvature1  Curvature2  ForwardRate1Y  \
Date
1961-06-30      0.160110  0.463769    0.000000         0.0       0.233760
1961-07-31      0.164034  0.446137    0.000000         0.0       0.230211
1961-08-31      0.169935  0.452569    0.000000         0.0       0.236753
1961-09-30      0.165211  0.453090    0.000000         0.0       0.237257
1961-10-31      0.152620  0.455216    0.113939         0.0       0.230314

            ForwardRate4Y  ForwardRate9Y   SVENF01   SVENF02   SVENF03  ...  \
Date                                                                    ...
1961-06-30       0.247301            NaN  3.533592  3.934585  3.993169  ...
1961-07-31       0.254123            NaN  3.436640  3.934995  4.062475  ...
1961-08-31       0.264753            NaN  3.522839  4.054435  4.201822  ...
1961-09-30       0.256468            NaN  3.581385  4.014040  4.108765  ...
1961-10-31       0.247019            NaN  3.489457  3.907943  4.016624  ...

             SVENY02   SVENY03   SVENY04   SVENY05   SVENY06   SVENY07  \
Date
1961-06-30  3.383562  3.580031  3.684631  3.748146  3.790554  3.820877
1961-07-31  3.289770  3.531040  3.668470  3.754025  3.811640  3.852910
1961-08-31  3.420465  3.661852  3.802339  3.890426  3.949861  3.992443
1961-09-30  3.445030  3.654595  3.770960  3.842475  3.890400  3.924650
1961-10-31  3.350962  3.559624  3.674895  3.739548  3.776095  3.796800

            SVENY08  SVENY09  SVENY10      TAU1
Date
1961-06-30      NaN      NaN      NaN  0.386493
1961-07-31      NaN      NaN      NaN  0.565912
1961-08-31      NaN      NaN      NaN  0.565608
1961-09-30      NaN      NaN      NaN  0.492659
1961-10-31      NaN      NaN      NaN  1.505942

[5 rows x 38 columns]

### Unemployment

In [37]:
from sklearn.preprocessing import StandardScaler

print(unemployment.info())  # Check for missing values and data types
print(unemployment.head())  # Preview the data

# Convert to datetime
unemployment['date'] = pd.to_datetime(unemployment['date'], errors='coerce')

unemployment.set_index('date', inplace=True)
unemployment.sort_index(inplace=True)

# Find and Fill all missing data
unemployment.drop(columns=['women_55plus_rate'], inplace=True)
print(unemployment.isnull().sum())
unemployment.interpolate(method='linear', inplace=True) # use linear interpolation for filling NA values

# Normalize data
unemployment_scaler = StandardScaler()
numeric_columns = unemployment.select_dtypes(include=['float64', 'int64']).columns
unemployment[numeric_columns] = unemployment_scaler.fit_transform(unemployment[numeric_columns])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 917 entries, 0 to 916
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               917 non-null    object
 1   overall_rate       917 non-null    float64
 2   men_rate           917 non-null    float64
 3   women_rate         917 non-null    float64
 4   men_16_17_rate     917 non-null    float64
 5   women_16_17_rate   917 non-null    float64
 6   men_16_19_rate     917 non-null    float64
 7   women_16_19_rate   917 non-null    float64
 8   men_18_19_rate     917 non-null    float64
 9   women_18_19_rate   917 non-null    float64
 10  men_16_24_rate     917 non-null    float64
 11  women_16_24_rate   917 non-null    float64
 12  men_20_24_rate     917 non-null    float64
 13  women_20_24_rate   917 non-null    float64
 14  men_25plus_rate    917 non-null    float64
 15  women_25plus_rate  917 non-null    float64
 16  men_25_34_rate     917 non-null    float64
 17  women_25_34_rate   917 non-null    float64
 18  men_25_54_rate     917 non-null    float64
 19  women_25_54_rate   917 non-null    float64
 20  men_35_44_rate     917 non-null    float64
 21  women_35_44_rate   917 non-null    float64
 22  men_45_54_rate     917 non-null    float64
 23  women_45_54_rate   917 non-null    float64
 24  men_55plus_rate    917 non-null    float64
 25  women_55plus_rate  365 non-null    float64
dtypes: float64(25), object(1)
memory usage: 186.4+ KB
None
         date  overall_rate  men_rate  women_rate  men_16_17_rate  \
0  1948-01-01           3.4       3.4         3.3             9.7
1  1948-02-01           3.8       3.6         4.5            13.0
2  1948-03-01           4.0       3.8         4.4            14.0
3  1948-04-01           3.9       3.8         4.3            11.6
4  1948-05-01           3.5       3.5         3.7             7.1

   women_16_17_rate  men_16_19_rate  women_16_19_rate  men_18_19_rate  \
0               8.8             9.4               7.2             9.5
1              13.2            10.8               8.9             9.2
2              11.4            11.9               8.6            10.3
3              10.6             9.8               9.2             8.6
4               5.4             7.6               6.1             8.6

   women_18_19_rate  ...  men_25_34_rate  women_25_34_rate  men_25_54_rate  \
0               6.8  ...             2.6               4.3             2.3
1               6.8  ...             2.7               5.1             2.6
2               7.3  ...             2.7               3.5             2.6
3               8.6  ...             3.2               3.8             2.8
4               7.0  ...             2.9               3.3             2.5

   women_25_54_rate  men_35_44_rate  women_35_44_rate  men_45_54_rate  \
0               2.8             2.1               1.8             2.3
1               3.7             2.5               2.6             2.6
2               3.3             2.6               3.0             2.4
3               3.5             2.7               3.5             2.5
4               3.1             2.4               3.0             2.3

   women_45_54_rate  men_55plus_rate  women_55plus_rate
0               2.1              3.0                NaN
1               3.3              2.9                NaN
2               3.3              2.8                NaN
3               3.1              2.9                NaN
4               2.9              3.1                NaN

[5 rows x 26 columns]
overall_rate         0
men_rate             0
women_rate           0
men_16_17_rate       0
women_16_17_rate     0
men_16_19_rate       0
women_16_19_rate     0
men_18_19_rate       0
women_18_19_rate     0
men_16_24_rate       0
women_16_24_rate     0
men_20_24_rate       0
women_20_24_rate     0
men_25plus_rate      0
women_25plus_rate    0
men_25_34_rate       0
women_25_34_rate     0
men_25_54_rate       0
women_25_54_rate     0
men_35_44_rate       0
women_35_44_rate     0
men_45_54_rate       0
women_45_54_rate     0
men_55plus_rate      0
dtype: int64

### Inflation

In [38]:
# code